include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include PYPI_README.rst

recursive-include tests *
recursive-include beobench/beobench_contrib/gyms/ *

recursive-include beobench/data/configs *
recursive-include beobench/data/agents *
recursive-include beobench/data/dockerfiles *

recursive-exclude docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
