
pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine

# Dev tools
black
pre-commit
pylint
click       # command line interface

# Jupyter notebooks
jupyterlab

# ML & RL tools
gym
torch
ray[rllib]
wandb

# Convex solver tools (OPTIONAL)
# cvxpy