sphinx-tabs
myst-parser
sphinx-book-theme==0.3
# with docutils>=0.18 admonitions sometimes do not end
docutils==0.17

# Because of the following bug
# https://github.com/readthedocs/readthedocs.org/issues/9038
Jinja2<3.1